@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 6rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  box-shadow: 4px 4px 9px #D6D6D6;
  border-radius: 30px;
  padding: 1rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px #D6D6D6;
  border-radius: 30px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #CCF54B 0%, #5AE7EE 179.25%);
}

.progress {
  background: linear-gradient(90deg, #5AE7EE 0%, #E95EE7 100%);
}

.done {
  background: linear-gradient(90deg, #E95EE7 0%, #CCF54B 100%);
}

.hold {
  border: solid 5px #eee;
}

.hide {
  display: none;
}

.hovered {
  border-top: 2px solid #8AE2F4;
}